process {
  executor = 'local'
  cpus = 4
  memory = '8 GB'
  errorStrategy = 'terminate'
}

params {
  outdir = 'results'
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_timeline.html"
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_report.html"
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_trace.txt"
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_dag.html"
}
